.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.space {
    border: 1px solid black;

    &.selected {
        border: 5px outset black;
    }

    &.dark {
        background-color: lightsteelblue;
    }

    &.potential {
        border: 5px outset red;
    }
}

.piece {
    height: 100%;
    width: 100%;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}